# Node modules
node_modules/

# Yarn integrity file
.yarn-integrity

# Yarn cache directory
.yarn/cache/

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# dotenv environment variables
.env
.env.*.local

.next/

# Optional editor directories
.idea/
.vscode/

# MacOS system files
.DS_Store

.env.local